@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;

	--Soft-red: hsl(7, 99%, 70%);
	--Yellow: hsl(51, 100%, 49%);
	--Dark-desaturated-cyan: hsl(167, 40%, 24%);
	--Dark-blue: hsl(198, 62%, 26%);
	--Dark-moderate-cyan: hsl(168, 34%, 55%);
	--moderate-cyan: hsl(168, 34%, 40%);
	--light-moderate-cyan: hsl(168, 40%, 70%);

	--Very-dark-desaturated-blue: hsl(212, 27%, 19%);
	--Very-dark-grayish-blue: hsl(214, 9%, 35%);
	--Dark-grayish-blue: hsl(232, 10%, 55%);
	--Grayish-blue: hsl(210, 4%, 67%);
	--White: hsl(0, 0%, 100%);
}

body {
	width: 100%;
	height: 100vh;
}

.desktop {
	display: none;
}

/* HEADER STARTS*/

header {
	width: 100%;
	padding: 2rem 0 14rem;
	background: url(./images/mobile/image-header.jpg) center/cover;
}

.nav-bar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	position: relative;
}

.nav-btn-con {
	cursor: pointer;
}

.navigation {
	display: none;
}

.active {
	display: block;
	position: absolute;
	font-family: "Barlow", sans-serif;
	font-weight: 700;
	top: 5rem;
	right: 4rem;
	clip-path: polygon(93% 20%, 100% 10%, 100% 100%, 0 100%, 0 20%);
}

.nav-menu {
	background-color: var(--White);
	width: 32rem;
	padding: 10rem 0 4rem;
}

.nav-list {
	text-align: center;
	list-style: none;
	line-height: 3;
}

.nav-link {
	font-size: 1.7rem;
	text-decoration: none;
	color: var(--Dark-grayish-blue);
}

.contact {
	font-family: "Fraunces", serif;
	color: var(--Very-dark-desaturated-blue);
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 700;
	padding: 0.7rem 3.5rem;
	border-radius: 3rem;
	margin-top: 2rem;
	background-color: var(--Yellow);
}

.hero h2 {
	text-align: center;
	font-family: "Fraunces", serif;
	color: var(--White);
	font-weight: 700;
	font-size: 3.5rem;
	padding: 3rem;
	letter-spacing: 0.5rem;
	margin: 6rem auto 2rem;
}

.hero img {
	display: block;
	margin: 0 auto;
}

/* HEADING ENDING*/

.mobile {
	width: 100%;
}

.article-text {
	padding: 2rem 2rem;
}

.article-text h2 {
	font-family: "Fraunces", serif;
	text-align: center;
	font-size: 3rem;
	padding: 2rem 4rem;
}

.article-text p {
	text-align: center;
	font-family: "Barlow", sans-serif;
	font-size: 1.3rem;
	font-weight: 700;
	color: var(--Very-dark-grayish-blue);
	line-height: 1.6;
	/* padding: 0 2rem; */
	margin-bottom: 2rem;
}

.article-text a {
	display: inline-block;
	text-align: center;
	width: 100%;
	font-family: "Fraunces", serif;
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: 700;
	text-decoration: none;
	margin-bottom: 6rem;
	color: var(--Very-dark-desaturated-blue);
	position: relative;
}

.yellow::before,
.soft-red::before {
	position: absolute;
	content: "";
	width: 11rem;
	left: 50%;
	transform: translate(-50%);
	height: 0.7rem;
	bottom: -0.1rem;
	z-index: -1;
	border-radius: 1rem;
}

.yellow::before {
	background-color: var(--Yellow);
}
.soft-red::before {
	background-color: var(--Soft-red);
}

.special-1 {
	background: url(./images/mobile/image-graphic-design.jpg) center/cover;
	padding-top: 35rem;
}

.special-1 h2 {
	padding-bottom: 1rem;
}

.special-1 p {
	font-size: 1.4rem;
	padding: 0 1rem;

	color: var(--Dark-blue);
}

.special-2 {
	background: url(./images/mobile/image-photography.jpg) center/cover;
	padding-top: 35rem;
}

.special-2 h2 {
	padding-bottom: 1rem;
}

.special-2 p {
	font-size: 1.4rem;
	padding: 0 1rem;
	color: var(--Dark-blue);
}

.testimonials {
	padding: 10rem 2rem;
}

.testimonials h2 {
	font-family: "Fraunces", serif;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	margin-bottom: 6rem;
	letter-spacing: 0.5rem;
	color: var(--Dark-grayish-blue);
}

.user {
	display: block;
	width: 6rem;
	border-radius: 50%;
	margin: auto;
	margin-bottom: 3rem;
}

.message {
	font-family: "Barlow", sans-serif;
	text-align: center;
	font-size: 1.4rem;
	font-weight: 700;
	color: var(--Very-dark-grayish-blue);
	margin: 0 0 4rem;
	padding: 2rem;
	line-height: 1.8;
}

.user-name {
	font-family: "Fraunces", serif;
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
	margin-bottom: 1.5rem;
}

.user-position {
	text-align: center;
	font-family: "Barlow", sans-serif;
	font-weight: 700;
	font-size: 1.2rem;
	color: var(--Very-dark-grayish-blue);
	margin-bottom: 6rem;
}

.photo-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.photo-grid .mobile {
	display: block;
}

footer {
	background-color: var(--light-moderate-cyan);
	padding: 6rem 2rem 4rem;
}

.footer-svg {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 6rem;
}

.footer-svg path {
	fill: var(--Dark-desaturated-cyan);
}

.footer-nav {
	display: flex;
	margin: auto;
	justify-content: space-around;
}

.footer-nav a {
	font-size: 1.8rem;
	font-weight: 700;
	color: var(--moderate-cyan);
	font-family: "Barlow", sans-serif;
	text-decoration: none;
	margin-bottom: 8rem;
}

.footer-nav a:hover {
	color: #fff;
}

.socials {
	display: flex;
	margin: auto;
	justify-content: space-between;
	width: 20rem;
	margin-bottom: 8rem;
}

.socials svg {
	cursor: pointer;
}

.socials svg path {
	fill: var(--Dark-desaturated-cyan);
}

.facebook:hover svg path,
.instagram:hover svg path,
.twitter:hover svg path,
.pinterest:hover svg path {
	fill: #fff;
}

.attribution {
	font-size: 1.6rem;
	font-family: "Barlow", sans-serif;
	font-weight: 700;
	text-align: center;
	color: #000080;
}
.attribution a {
	color: #700000;
}

@media screen and (min-width: 750px) {
	.mobile {
		display: none;
	}

	.desktop {
		display: block;
	}

	.nav-btn-con {
		display: none;
	}

	header {
		width: 100%;
		padding: 2rem 0 20rem;
		background: url(./images/desktop/image-header.jpg) center/cover;
	}

	.nav-bar {
		padding: 0 3rem;
		justify-content: space-between;
		align-items: center;
	}

	.navigation {
		display: block;
		position: relative;
		width: 50rem;
		height: 6rem;
		font-family: "Barlow", sans-serif;
		font-weight: 700;
		background-color: transparent;
		top: 0;
		right: 0;
		clip-path: unset;
	}

	.nav-menu {
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: flex-end;
		gap: 4rem;
		align-items: center;
		padding: unset;
		background-color: transparent;
	}

	.nav-list {
		text-align: center;
		list-style: none;
		line-height: unset;
	}

	.nav-link {
		font-size: 1.5rem;
		text-decoration: none;
		color: var(--Dark-grayish-blue);
	}

	.nav-link:hover {
		color: #fff;
	}

	.contact {
		font-family: "Fraunces", serif;
		color: var(--Very-dark-desaturated-blue);
		display: inline-block;
		font-size: 1.2rem;
		font-weight: 700;
		padding: 1.5rem 3rem;
		border-radius: 3rem;
		margin-top: 0;
		background-color: var(--White);
		border: 3.5px solid #fff;
	}

	.contact:hover {
		background-color: rgba(255, 255, 255, 0.427);
		color: #fff;
	}

	.hero h2 {
		color: var(--White);
		font-weight: 700;
		font-size: 3.5rem;
		padding: 0;
		margin: 10rem auto 8rem;
	}

	.hero img {
		display: block;
		margin: 2rem auto 0;
	}

	.article-1,
	.article-2 {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.article-1 .desktop,
	.article-2 .desktop {
		display: block;
		width: 100%;
	}

	.article-1 figure {
		order: 2;
	}

	.article-text {
		padding: 0 6rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.article-text h2 {
		font-family: "Fraunces", serif;
		text-align: left;
		margin: 0 0 3rem;
		font-size: 2.7rem;
		padding: 0;
	}

	.article-text p {
		text-align: left;
		font-family: "Barlow", sans-serif;
		font-size: 1.1rem;
		line-height: 1.5;
		padding: 0;
		margin-bottom: 3rem;
	}

	.article-text a {
		display: inline-block;
		text-align: left;
		width: 100%;
		font-family: "Fraunces", serif;
		text-transform: uppercase;
		font-size: 1.2rem;
		text-decoration: none;
		margin-bottom: 0;
	}

	.yellow::before,
	.soft-red::before {
		width: 9rem;
		left: 0;
		transform: unset;
		z-index: -1;
		border-radius: 1rem;
	}

	.flexbox {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 100%;
	}

	.special-1 {
		background: url(./images/desktop/image-graphic-design.jpg) center/cover;
		padding-top: 25rem;
		padding-bottom: 2rem;
		width: 100%;
		height: 100%;
	}

	.special-1 h2 {
		font-size: 1.4rem;
		text-align: center;
		padding-bottom: 0.1rem;
	}

	.special-1 p {
		font-size: 1rem;
		text-align: center;
	}

	.special-2 {
		background: url(./images/desktop/image-photography.jpg) center/cover;
		padding-top: 25rem;
		width: 100%;
		height: 100%;
		padding-bottom: 2rem;
	}

	.special-2 h2 {
		font-size: 1.4rem;
		text-align: center;
		padding-bottom: 0.1rem;
	}

	.special-2 p {
		font-size: 1rem;
		text-align: center;
		padding: 0 1.5rem;
	}

	.testimonials {
		padding: 4rem 0 2rem;
	}

	.testimonials-con {
		display: flex;
		justify-content: space-between;
		max-width: 75rem;
		margin: auto;
	}

	.user {
		display: block;
		width: 6rem;
		border-radius: 50%;
		margin-bottom: 3rem;
	}

	.message {
		font-size: 1.1rem;
		margin: 0 2rem 2rem;
		padding: 1.3rem;
		line-height: 1.8;
		max-width: 28rem;
	}

	.user-name {
		font-size: 1.2rem;
		text-align: center;
		margin-bottom: 0.5rem;
	}

	.user-position {
		font-size: 0.8rem;
		color: var(--Very-dark-grayish-blue);
		margin-bottom: 6rem;
	}

	.photo-grid {
		display: flex;
	}

	.photo-grid .mobile {
		display: none;
	}
	.photo-grid .desktop {
		display: block;
		width: 100%;
	}

	.footer-nav {
		width: 35rem;
		margin: auto;
		display: flex;
		justify-content: space-around;
	}
}

@media screen and (min-width: 1200px) {
	.nav-link {
		font-size: 1.6rem;
	}

	.article-text {
		padding: 13rem 10rem 10rem;
	}

	.article-text h2 {
		font-family: "Fraunces", serif;
		text-align: left;
		margin: 0 0 3rem;
		font-size: 3.5rem;
		max-width: 38rem;
	}

	.article-text p {
		text-align: left;
		font-family: "Barlow", sans-serif;
		font-size: 1.5rem;
		line-height: 1.8;
		padding: 0;
		margin-bottom: 4rem;
	}

	.special-1 {
		padding-top: 35rem;
		padding-bottom: 2rem;
	}

	.special-1 h2 {
		font-size: 2rem;
		text-align: center;
		padding-bottom: 0.1rem;
	}

	.special-1 p {
		font-size: 1.4rem;
		text-align: center;
		padding: 0 4rem;
	}

	.special-2 {
		padding-top: 35rem;
		padding-bottom: 2rem;
	}

	.special-2 h2 {
		font-size: 2rem;
		text-align: center;
		padding-bottom: 0.1rem;
	}

	.special-2 p {
		font-size: 1.4rem;
		text-align: center;
		padding: 0 4rem;
	}

	.testimonials-con {
		max-width: 95rem;
		margin: auto;
	}
}

@media screen and (min-width: 1400px) {
	.nav-link {
		font-size: 1.8rem;
		margin-left: 2rem;
	}

	.contact {
		font-size: 1.6rem;
	}
}
